.npmrc
.npmignore
.gitignore
.github/
node_modules/
coverage/
src/
jest.config.js
tsconfig*
tslint.json
.editorconfig
.eslintignore
.eslint.js
.nvmrc
.prettierrc.json
*.sh
rollup.config.js
.eslintrc.js
